body {

	/*

	display: flex;
	justify-content: center;

	align-items: center;

	*/

	/* min-height: 100vh; */

	/*

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10vh;

	*/

	/*

	//

	*/

	/*

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20vh;

	*/

	/*

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20vh;

	*/

	/*

	//

	*/

	/*

	background: linear-gradient(to bottom, white, grey);
	display: flex;
	justify-content: center;
	align-items: center;

	*/

	background: linear-gradient(to right, white, grey);
	display: flex;
	justify-content: center;
	align-items: center;
}